body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: row;
}

.header {
    width:auto;
    height: 60px;
}

.gmail {
    width: 90px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    display: flex;
    background: #f1f1f1;
    width: 260px;
    flex-flow: column;
    height: calc(100vh - 60px);
}

.composeMessage {
    background: white;
    height:46px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 25px;
    padding-left: 30px;
    border-radius: 5px;
    min-width:170px;
}

.plus {
    width:29px;
    margin-right:7px;
    margin-left: 20px;
}

.directory  {
    height: auto;
    overflow-y: auto;
    margin-top: 20px;
    max-height: calc(100vh - 42px - 80px);
}

.directory-inbox {
    margin-bottom: 10px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    padding-left: 38px;
    border-left: 4px solid transparent;
    height: 37px;
}

.menu-item-container--active {
    border-left: 4px solid #2862e0;
    color: #2862e0;
}

.new-folders {
    width:14px;
    margin-left: 100px;
}

.directory-folders {
    padding-top:13px;
    border-top:#cac9c9 solid 1px; 
    border-bottom:#cac9c9 solid 1px;  
}

.icon {
    width: 17px;
    margin-right: 18px;
}

.directory-settings {
    margin-top: 14px;
    height: 220px;
}

.more-settings {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px;
}

.more-settings-item {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-icon {
    width:30px;
}

.email-list {   
    /*border:1px black solid;*/
    width:330px;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:86px;
    border-top: #e7e6e6 solid 0.1px;
    border-bottom:  #e7e6e6 solid 0.5px
}

.left {
    display: flex;
    align-items: center;
}

.more-item {
    padding-right:10px;
    width:16px;
}
.selection-box {
    width:20px;
    margin-left: 18px;
    margin-right: 6px;
}

.bottom-div {
    background-color: #F9F9F9;
}
.starred-container {
    background-color: #1477FF;
    height:120px;
    margin-top:20px;
    width: 290px;
    border-radius:6px;
    margin-left: 15px;
}

.email-items {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px rgba(73, 73, 73, 0.699) solid;
    height:80px;
}

.profile-picture-container {
    display: flex;
    align-items: center;
}
 
.headshot1 {
    width:60px;
    margin-right: 15px;
    margin-left: 17px;
}

.suject-item, .name-item {
    height: 10px;
    margin-top: 0px;
}

.suject-item {
    font-size: 16px;
}

.name-item {
    font-size: 12px;
    color:rgb(142, 189, 250);
}

.email-content-items{
    margin-top: 5px;
}

.dates-container {
    flex-direction: column;
    margin-top: 5px;
    margin-right:10px;
}

.time {
    font-size: 11px;
    color: #dddddd;
}
.starred {
    width:11px;
    margin-left: 21px;
}

.time, .starred {
    height: 10px;
    margin-top: 0px;
}

.function-items {
    display: flex;
    justify-content: space-between;
}
.function-wrapper {
    display: flex;
    align-items: center;
    width:120px;
    height: 30px;
    justify-content: space-around;
    margin-top: 5px;
    margin-left:5px;
}

.function-icon {
    width: 15px;
}

.number-of-email {
    display:flex;
    align-items: center;
    margin-top:5px;
    height:19px;
    width:19px;
    border-radius: 100%;
    color:#1477FF;
    background-color: rgb(243, 240, 240);
    margin-right: 12px;
    margin-top: 9px;
    font-size: 12px;
}

.number {
    padding-left: 6px;
    padding-bottom: 0.5px;
}

.email-wrapper{
    margin-top:20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px #ecebebb2 solid;
    border-bottom: 1px#ecebebb2 solid;
    height:90px;
}

.email-container {
    display: flex;
    align-items: center;
}

.email-content-container {
    width: 140px;
}
.name-items{
    color:#b4b0b0;
    font-size: 12px;
}
.email-content-container-dates-container {
    margin-left: 23px;
    margin-right:16px;
    width: 70px;
    margin-top:-25px;
} 

.times {
    color:#494949b2;
    font-size: 11px;
}

.times, .starred {
    height: 10px;
    margin-top: 0px;
}
.headshot2 {
    width:60px;
    margin-right: 25px;
    margin-left: 18px;
}


.email-wrapper-following-items{
    margin-top:0px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px#ecebebb2 solid;
    height:95px;
}
.section-4{ 
    flex: 43%;
    border:1px black solid;
    
}
.section-5 {
    flex: 17%;
    border:1px black solid;
    
}