body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: row;
}

.header {
    width:auto;
    height: 60px;
}

.gmail {
    width: 90px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    display: flex;
    background: #f1f1f1;
    width: 260px;
    flex-flow: column;
    height: calc(100vh - 60px);
}

.composeMessage {
    background: white;
    height:46px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 25px;
    padding-left: 30px;
    border-radius: 5px;
    min-width:170px;
}

.plus {
    width:29px;
    margin-right:7px;
    margin-left: 20px;
}

.directory  {
    height: auto;
    overflow-y: auto;
    margin-top: 20px;
    max-height: calc(100vh - 42px - 80px);
}

.directory-inbox {
    margin-bottom: 10px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    padding-left: 38px;
    border-left: 4px solid transparent;
    height: 37px;
}

.menu-item-container--active {
    border-left: 4px solid #2862e0;
    color: #2862e0;
}

.new-folders {
    width:14px;
    margin-left: 100px;
}

.directory-folders {
    padding-top:13px;
    border-top:#cac9c9 solid 1px; 
    border-bottom:#cac9c9 solid 1px;  
}

.icon {
    width: 17px;
    margin-right: 18px;
}

.directory-settings {
    margin-top: 14px;
    height: 220px;
}

.more-settings {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px;
}

.more-settings-item {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-icon {
    width:30px;
}

.email-list {   
    /*border:1px black solid;*/
    width:330px;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:86px;
    border-top: 1px#ecebebb2 solid;
    border-bottom:  1px#ecebebb2 solid;
    border-right: 1px#ecebebb2 solid;
}

.left {
    display: flex;
    align-items: center;
}

.more-item {
    padding-right:10px;
    width:16px;
}
.selection-box {
    width:20px;
    margin-left: 18px;
    margin-right: 6px;
}

.bottom-div {
    background-color: #F9F9F9;
}
.starred-container {
    background-color: #1477FF;
    height:120px;
    margin-top:20px;
    width: 290px;
    border-radius:6px;
    margin-left: 15px;
}

.email-items {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px rgba(73, 73, 73, 0.699) solid;
    height:80px;
}

.profile-picture-container {
    display: flex;
    align-items: center;
}
 
.headshot1 {
    width:60px;
    margin-right: 15px;
    margin-left: 17px;
}

.suject-item, .name-item {
    height: 10px;
    margin-top: 0px;
}

.suject-item {
    font-size: 16px;
}

.name-item {
    font-size: 12px;
    color:rgb(142, 189, 250);
}

.email-content-items{
    margin-top: 7px;
}

.dates-container {
    flex-direction: column;
    margin-top: 5px;
    margin-right:10px;
}

.time {
    font-size: 11px;
    color: #dddddd;
}
.starrred {
    width:20px;
    margin-left: 18px;
}

.time, .starrred {
    height: 12px;
    margin-top: 0px;
}

.function-items {
    display: flex;
    justify-content: space-between;
}
.function-wrapper {
    display: flex;
    align-items: center;
    width:120px;
    height: 30px;
    justify-content: space-around;
    margin-top: 5px;
    margin-left:5px;
}

.function-icon {
    width: 15px;
}

.number-of-email {
    display:flex;
    align-items: center;
    margin-top:5px;
    height:19px;
    width:19px;
    border-radius: 100%;
    color:#1477FF;
    background-color: rgb(243, 240, 240);
    margin-right: 12px;
    margin-top: 9px;
    font-size: 12px;
}

.number {
    padding-left: 6px;
    padding-bottom: 0.5px;
}

.email-wrapper{
    margin-top:20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px #ecebebb2 solid;
    border-bottom: 1px#ecebebb2 solid;
    height:90px;
}

.email-container {
    display: flex;
    align-items: center;
}

.email-content-container {
    width: 140px;
}
.name-items{
    color:#b4b0b0;
    font-size: 12px;
}
.email-content-container-dates-container {
    margin-left: 23px;
    margin-right:16px;
    width: 70px;
    margin-top:-25px;
} 

.times {
    color:#494949b2;
    font-size: 11px;
}

.times, .starred {
    height: 10px;
    margin-top: 0px;
}

.headshot2 {
    width:60px;
    margin-right: 25px;
    margin-left: 18px;
}

.email-wrapper-following-items{
    margin-top:0px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px#ecebebb2 solid;
    height:95px;
}

.main-mail-section { 
    width: 720px;
}

.starred-contact-container {
    display: flex;
    align-items: center;
    width: 720px;
    border-bottom: 1px#ecebebb2 solid;
    height: 86px;
}

.fav-contact {
    font-size: 17px;
    width:270px;
}

.fav-contact, .contact-container {
    width:240px;
    border: 1px#ecebebb2 solid;
    display: flex;
    align-items: center;
    height: 86px;
}

.name{
    flex-direction: column;
    height: 30px;
    margin-left: 15px;
    margin-top: -15px;
}

.fav-contact-starred {
    margin-left:40px;
    width:12px;
}

.favorite {
    margin-left: 18px;
}

.initals {
    width:55px;
    margin-left: 25px;
}

.time-container {
    color: grey;
    font-size: 13px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.time-container {
    margin-left: 50px;
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-right: 50px;
}

.button {
    width: 20px;
}

.button3 {
    width: 17px;
    margin-top:4px;
}

.tittle-container {
    display: flex;
    align-items: center;
    margin-top:20px;
}

.main-mail-content-container {
   
}

.thumbnail {
    width:60px;
    margin-right: 20px;
    padding-left: 50px;
}

.header-text-1 {
    font-size: 17px;
    font-weight: 1000;
    height: 30px;
}

.header-text-2 {
    font-size: 12px;
    color: grey;
    height:20px;
}

.body-container {
    height:350px;
    border-bottom:#ecebebb2 1px solid;
    padding-left: 50px;
}
.bold-content {
    font-size : 28px;
    font-weight: 900;
    width:500px;
    padding-top: 30px;
}

.paragraph1 , .paragraph2{
    font-size: 17px;
    padding-top:30px;
    width: 550px;
    color: #646464e8;
    height: 60px;
}

.reply-container {
    
    height: 200px;
    
}

.reply-tittle {
    display: flex;
    align-items: center;
    border: 1px #ecebebb2 solid;
    height: 50px;
    font-weight: bolder;
}

.reply {
    width:18px;
    margin-left: 50px;
    margin-right: 20px;
}

.reply-name {
    font-size: 16px;
}

.unfinished-thank {
    margin-top:10px;
    
}
.reply-content {
    margin-left: 50px;
    padding-top:20px;
    height: 100px;
}

.mouse {
    margin-left: -10px;
    width: 18px;
}

.reply-functional-items {
    border :1px #ecebebb2 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.reply-functional-item-wrapper {
    display: flex;
    align-items: center;
}

.functional-items-button-container {
    display: flex;
    align-items: center;
}

.functional-items-button {
    width: 20px;
    margin-right:11px;
}

.send-container {
    font-size: 12px;
    font-weight: bolder;
    border :1px #ecebebb2 solid;
    height: 25px;
    width: 60px;
    background-color: #1477FF;
    color:white;
    border-radius: 4px;
    margin-left:50px;
    margin-right:15px;
    padding-top:8px;
    padding-left: 30px;
}

.functional-items-button-container-end {
    display: flex;
    align-items: center;
    margin-right:15px;
}

.right-end-button {
    width: 20px;
    margin-right: 8px;
}

.right-end-button3{
    
    width: 18px;
}
.end-container {
    width: 40px;
}
.media-section {
    width:400px;
    border:1px solid #ecebebb2;
    
}